# build dir
build/
classes/

  
#Intellij Idea project files
.idea
*.iml
/bin/
*.ipr
*.iws
/bin/


.lein-env
log
resources/public/js
.lein-failures
.lein-repl-history
resources/public/css
target
.nrepl-port
embongo.log
.cljs_rhino_repl
